html{
    background: #dde6d9;
}
img{
    max-width: 50%;
    height: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
   background-color:#fff; 
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    display: flex;
    flex-direction: column;
}

.blog-post{
   border-bottom: 1px dotted #ccc; 
}

#Newsletter {
    background: #dde6d9;
    padding: 10px;
    margins: 0px;
    position: sticky;
    top: 0;
}

.MyPhoto{
    border-radius: 50%;
    width: 150px;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out;
}
.Spidercam{
    border-radius: 50%;
}