html{
    background: #dde6d9;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
   background-color:#f6f4f4; 
}

header{
    background: #f6f4f4;
    text-align: center;
}

section {
    background: #c9c8c8;
    border-radius: 15px;
    padding: 5px;

}

article {
    background: #dde6d9;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}


h1{
    font-size: 3em;
    margin: 0px;
}



p{
    line-height: 1.4em;
}

#blog {
    padding: 10px;

    border-top: 5px dotted #ccc;
    display: flex;

}

.blog-post{
   border-bottom: 5px dotted #ccc; 

}

.navigation{
    width: 120px;
    background: #dde6d9;
    padding: 5px;
    margin: 10px;
    position: sticky;
    left: 0px;
    top: 50px;
    height: 100px;
    z-index: 100;
}

#Newsletter {
    background: #dde6d9;
    padding: 10px;
    margin: 0px;
    position: sticky;
    top: 0px;
}

.profile{
    border-radius: 15px;
    width: 250px;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out;
    float: left;
    margin: 10px;
    margin-top: 35px;
    margin-left: 25px;
}
.camera{
    border-radius: 15px;
    width: 250px;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out;
}
.conference{
    border-radius: 15px;
    width: 250px;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out;
}



#Contact{ 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}